#section03 {
    position: relative;
    width: 100%;
    height: 250vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--vermelho);
    overflow-y: hidden;
}

@media screen and (max-width: 500px){
    #section03{
        height: 150vh;
    }
}

#section03::before {
    z-index: 0;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../../../assets/imagens/rocketTemplate.webp);
    opacity: 0.2;
}


#section03>div {
    z-index: 1;
    position: relative;
    width: clamp(10px, 40vw, 250px);
    height: max-content;
    padding: 0 10px;
    transform: translate(0, 20px);
}

#section03>div:nth-child(odd) {
    margin-top: clamp(-15000px, -6000vw, -10px);
}

/* Container invertido */
#section03>div:nth-child(even) {
    transform: translateY(1000px);
}

#section03>div>img {
    width: 100%;
    box-shadow: 2px 2px 3px var(--preto);
    filter: brightness(0.7);
}