/* Primeira Sessão */
#section01 {
    height:calc(100vh - 100px);
    margin-top: 100px;
    position: fixed;
    top: 0;
}

/* Fundo estrelado */
#section01::before {
    content: '';
    position: fixed;
    height: calc(100px + 100vh);
    width: calc(100px + 100vw);
    top: -50px;
    left: -50px;
    background: url(../../../assets/imagens/ambientacao/spaceHome.webp), var(--preto);
    background-position-x: -300px;
    background-size: 100vw 100vw;

    animation: fallSpace 7s infinite linear;
}

/* Animação do fundo */
@keyframes fallSpace {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: -100vw;
    }
}

#section01>section {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
}

/* Luz Camisa */
#section01>section>div {
    z-index: 2;
    position: absolute;
    height: 50vh;
    width: 40vw;
    max-width: 350px;
    top: -10%;
    border-radius: 25%;
    filter: blur(100px);
    background-color: #579aff;
    opacity: 0.2;
}

/* Camisa Caindo */
#section01>section>img:nth-of-type(1) {
    z-index: 1;
    position: relative;
    background-size: contain;
    transform: translate(-3%) rotate(10deg);
    width: 100%;
    max-width: 700px;
    max-height: 700px;
    filter: drop-shadow(1vw 1vw 1vw var(--preto)) drop-shadow(3vw 3vw 4vw var(--preto));
}

/* Logo */
#section01>section>img:nth-of-type(2) {
    z-index: 0;
    position: absolute;
    transform: translate(0, 40%);
    background-size: contain;
    width: 100%;
    max-height: 470px;
    max-width: 800px;
    filter: brightness(0.5);
}

/* Slogan */
#section01>h1 {
    margin: 20px;
    text-align: center;
    font-family: var(--hudFont);
    opacity: 0.5;
}