/* Sessão 2 */
#section02 {
    position: relative;
    background-color: #232833;
}

.content02 {
    position: relative;
    height: clamp(10px, 90vw, 850px);
    width: 100%;
}

@media screen and (max-width: 875px) {
    .content02 {
        height: auto;
    }
}

/* Teto vermelho */
.content02>img:nth-of-type(2) {
    width: 100%;
    transform: translate(0, -1px);
    position: absolute;
    filter: drop-shadow(-1px 1px 1px #000f012c) drop-shadow(-5px 5px 2px #000f013d);
}

/* Onde fica o container do texto */
.content02>section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Texto */
.content02>section>article>div {
    width: 100%;
    font-family: var(--textFont);
    text-align: justify;
    padding: clamp(1px, 3vw, 20px) 0 clamp(1px, 3vw, 20px) clamp(1px, 6vw, 40px);
    font-size: clamp(0.5rem, 2vw, 1rem);
    position: relative;
}

/* Barra Lateral antes do texto */
.content02>section>article>div::before {
    content: '';
    position: absolute;
    height: calc(100% - clamp(2px, 6vw, 40px));
    width: clamp(1px, 2vw, 5px);
    background-color: var(--branco);
    left: clamp(1px, 2vw, 20px);
}

@media screen and (max-width: 875px) {
    .content02>section>article {
        margin-top: 50px;
    }
}

/* Titulo */
.content02>section>article>div>h2 {
    font-size: clamp(0.5rem, 6.5vw, 3.4rem);
    font-weight: 700;
}

/* Parágrafo */
.content02>section>article>div>p {
    opacity: 0.7;
}

/* Chão Vermelho */
.content02>section>img {
    width: 100%;
    filter: drop-shadow(1px 1px 1px #000f012c) drop-shadow(5px 5px 2px #000f013d);
}

/* Astronauta */
.content02>figure>img {
    position: absolute;
    width: 60%;
    bottom: 0;
    right: 0;
    filter: drop-shadow(1px 1px 1px #00010f) drop-shadow(0 5px 5px #000f01);
    animation: astronautaBounce 7s infinite alternate ease-in-out;
}

@keyframes astronautaBounce {
    from {
        transform: translateY(-2%);
    }

    to {
        transform: translateY(2%);
    }
}

@keyframes astronautaBounceMirror {
    from {
        transform: translateY(-2%) scaleX(-1);
    }

    to {
        transform: translateY(2%) scaleX(-1);
    }
}

/* Faixa com a logo da rocket branca */
/* Máscara */
#section02>div {
    transform: translateY(-50%);
}

/* Container azul */
.faixaRocketHome {
    height: clamp(10px, 10vw, 100px);
}

/* Imgs da logo branca */
.faixaRocketHome::after { 
    background-image: url(../../../assets/imagens/rocketLogoBranca.webp);
    background-size: clamp(1px, 100vw, 1000px);
    animation: logoRocketBranco 20s infinite linear;
}

@keyframes logoRocketBranco {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: clamp(1px, 100vw, 1000px);
    }
}