#section03 {
    position: relative;
    width: 100%;
    height: 250vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--vermelho);
    overflow-y: hidden;
}

@media screen and (max-width: 500px){
    #section03{
        height: 150vh;
    }
}

#section03::before {
    z-index: 0;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../../../assets/imagens/rocketTemplate.webp);
    opacity: 0.2;
}


#section03>div {
    z-index: 1;
    position: relative;
    width: clamp(10px, 40vw, 230px);
    height: 18000px;
    transform: translate(0, 20px);
    filter: drop-shadow(2px 2px 5px var(--preto));
    
}
#section03>div:nth-last-of-type(1){
    background: url(../../../assets/imagens/carrossel01.webp);
    background-size: 100% auto;
}
#section03>div:nth-last-of-type(2){
    background: url(../../../assets/imagens/carrossel02.webp);
    background-size: 100% auto;
}
#section03>div:nth-last-of-type(3){
    background: url(../../../assets/imagens/carrossel01.webp);
    background-size: 100% auto;
}
#section03>div:nth-last-of-type(4){
    background: url(../../../assets/imagens/carrossel03.webp);
    background-size: 100% auto;
}

#section03>div:nth-last-of-type(even) {
    transform: translateY(clamp(-16000px, -2600vw, -10px));
}

/* Container invertido */
#section03>div:nth-last-of-type(odd) {
    margin-bottom: translateY(clamp(10px, 20vw, 10000px));
}

