#headerLinks {
    height: 100px;
    padding-left: clamp(20px, 10vw, 70px);
    padding-right: clamp(20px, 10vw, 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Home */
#headerLinks>a {
    color: var(--brancoTrasparente);
    font-family: var(--hudFont);
}

/* Botão */
#headerLinks>button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
/* Img do botão */
#headerLinks>button>img {
    width: 40px;
    height: 20px;
    background-size: cover;
}
/* Fundo botão */
#headerLinks>button::before {
    z-index: -1;
    content: '';
    position: absolute;
    height: 30px;
    width: 60px;
    background: linear-gradient(to top, var(--azul), 60%, var(--preto));
    border-radius: 2px;
    transition: 1s ease-in-out;
    opacity: 0;
}
#headerLinks>button:hover::before {
    opacity: 1;
}