body {
    overflow: hidden;
}

/* Tela de Loading */
#loadingWindow,
#errorLoadingWindow {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00010f, #0b0d30);
    transition: 1s ease-in-out;
}

#astronautaWindowLoad {
    height: 200px;
    width: 200px;
    filter:drop-shadow(2px 2px 10px #00010f);
}

#loadingWindow>article,
#errorLoadingWindow>article {
    padding: 50px 25px 50px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    animation: fadeIn 5s;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#welcomeTitle,
#errorLoadingTitle {
    font-size: 40px;
}

/* Tela de Fail Loading */
#errorLoadingWindow {
    display: none;
    opacity: 0;
}