footer
    z-index: 5
    position: relative
    margin-top: -1px
    display: flex
    justify-content: center
    align-items: center
    padding: 10px
    background-color: $vermelho

    *
        color: $brancoTrasparente
        font-family: $hudF
        font-size: clamp(0.35em, 3vw, 1.2em)

    a
        text-decoration: underline
